<div class="center">
  <img id="beilaLogo" src="../../../assets/images/logoBeila.jpg" alt="Logo Hotel Beila" class="beilaLogo">
  <p class="welcomeText">Hello, welcome to the log-in screen for administrators for this website. If you're a guest and you want to check in, please return to the previous page.</p>
  <form class="adminLoginForm" [formGroup]="adminLoginForm" (ngSubmit)="adminLogIn()">
    <input id="adminLastName" type="text" formControlName="adminLastName" placeholder="Last name"/>
    <input id="adminPassword" type="password" formControlName="adminPassword" placeholder="Password"/>
    <input class="adminLogInBtn" id="btnAdminLogIn" type="submit" value="Log in!"/>
    <p class="errorMessage" *ngIf="inputEmpty">Please enter your last name and password.</p>
    <p class="errorMessage" *ngIf="inputWrong">Wrong last name and/or password.</p>
  </form>
</div>
<div class="spinner" *ngIf="showSpinner"></div>
