.beilaLogo{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page{
  overflow: scroll hidden;
  overflow-x: hidden;
}
.center{
  position: absolute;
  left: 50%;
  top: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcomeText{
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.guestCheckinForm{
  width: 100%;
  display: inline-block;
}
.guestCheckInBtn{
  border:none;
  color:white;
  background-color: gray;
  width: 150px;
  text-decoration: none;
  cursor:pointer;
  font-size: 11pt;
}
.errorMessage{
  color: red;
  font-size: 8pt;
  text-align: center;
}
.footer{
  background-color: gray;
  color: white;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  margin-top: 30px;
}
.footerText{
  position: absolute;
  top:15%;
  text-decoration: none;
  color: white;
  font-family: rubik-light;
}
input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 12pt;
  border: 1px solid gray;
  border-radius: 3px;
}
.cookieDiv{
  border: 1px solid gray;
  border-radius: 3px;
  width: 200px;
  height: 80px;
  padding: -5px 5px 5px 5px;
  font-size: 9pt;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
