<div class="center">
  <img id="beilaLogo" src="../../../assets/images/logoBeila.jpg" alt="Logo Hotel Beila" class="beilaLogo">
  <p class="welcomeText">Welcome at Hotel Beila! Because we're a small, family-run hotel, communication with our hotel guests is key.
  That's why checking in through this website would help us facilitate your arrival in a couple of days.
  You can start the check-in-proces by filling in your last name (the one you booked with) and password (the one we gave you in the e-mail).
  After that, we'll make sure your arrival in our hotel will go as smoothly as possible and we'll welcome you as warmly as we can!</p>
  <form class="guestCheckinForm" [formGroup]="guestCheckinForm" (ngSubmit)="guestCheckIn()">
    <input id="guestLastName" type="text" formControlName="guestLastName" placeholder="Last name"/>
    <input id="guestPassword" type="password" formControlName="guestPassword" placeholder="Password"/>
    <input class="guestCheckInBtn" id="btnGuestCheckIn" type="submit" value="Check in!"/>
    <p class="errorMessage" *ngIf="inputEmpty">Please enter your booking name and password.</p>
    <p class="errorMessage" *ngIf="inputWrong">Wrong booking name and password.</p>
  </form>
</div>
<div class="footer">
  <a class="footerText" href>Administrator login</a>
</div>
<div class="spinner" *ngIf="showSpinner"></div>
