.beilaLogo{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.center{
  position: absolute;
  left: 50%;
  top: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerText{
  display: block;
  text-align:center;
  margin-top:10px;
  font-family: rubik-light;
}
.welcomeText{
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}
.checkInBtn{
  border:none;
  color:white;
  background-color: gray;
  width: 150px;
  text-decoration: none;
  cursor:pointer;
  font-size: 11pt;
}
.payBtn{
  border:none;
  border-radius: 3px;
  color:white;
  background-color: green;
  width: 200px;
  height: 30px;
  text-decoration: none;
  cursor:pointer;
  font-size: 11pt;
  left: 50%;
  right: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page{
  overflow: scroll hidden;
  overflow-x: hidden;
}
.succesMessage{
  color: green;
  font-size: 8pt;
  text-align: center;
  margin-top: 5px;
}
.errorMessage{
  color: red;
  font-size: 8pt;
  text-align: center;
}
.paidMessage{
  color: red;
  font-size: 8pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.errorDescription {
  color: red;
  font-size: 8pt;
  text-align: center;
}
input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 12pt;
  border: 1px solid gray;
  border-radius: 3px;
}
form{
  margin-top: -30px;
}
