@font-face {
  font-family: "rubik-light";
  src: url('./assets/fonts/Rubik-Light.ttf');
}
p{
  font-family: "rubik-light";
}
input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 12pt;
  border: 1px solid gray;
  border-radius: 3px;
}
.spinner {
  border: 10px solid #6ca33640;
  border-top: 10px solid #6ca336;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 700ms linear infinite;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 2;
}
.newLine {
  display: block;
  clear: both;
}
.page{
  overflow: scroll hidden;
  overflow-x: hidden;
}
.beilaLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
  position: absolute;
  left: 50%;
  top: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.welcomeText{
  text-align: center;
  margin: -50px 10vw 50px 10vw;
}
.errorMessage{
  color: red;
  font-size: 8pt;
  text-align: center;
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
}
